body {
  font-family: Arial;
  padding: 40px;
}

input,
textarea {
  display: block;
  width: 300px;
  margin: 10px 0;
}

button {
  margin: 10px 5px;
  padding: 10px;
}

a {
  display: block;
  margin: 10px 0;
}
